<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加用车</title>
    <link rel="stylesheet" href="/stylesheets/user.css">
</head>
<body>
    <form class="user-box goods-box">
        <div class="line"><span class="title">用车编号:</span><input type="text" name="number" placeholder="编号" /></div>
        <div class="line"><span class="title">用车密码:</span><input type="text" name="password" placeholder="密码" /></div>
       
        <input class="btn" type="submit" value="提交" />
      </form>
</body>
<script src="/javascripts/jquery-2.1.0.js"></script>
<script src="/javascripts/bikeinput.js"></script>
</html>