<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
      a{text-decoration: none; display: block; display: flex;justify-content: space-around; width: 150px;height:150px;float: left; text-align: center; line-height: 150px; font-size: 28px;color: #fff;}
      .a{background: orangered;}
      .b{background: #0af;}
    </style>
</head>
<body>
    <a class="a" href="/root_ticket">车票</a>
    <a class="b" href="/root_bike">用车</a>
</body>
</html>