<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>管理员登录</title>
    <link rel="stylesheet" href="/stylesheets/user.css">
</head>
<body>
    <form class="user-box">
        <div class="line"><span class="title">用户名:</span><input type="text" name="username" placeholder="请输入用户名" /></div>
        <div class="line"><span class="title">密码:</span><input type="password" name="password" placeholder="请输入密码" /></div>
        <input class="btn" type="submit" value="登录" />
    </form>   
</body>

    <script src="/javascripts/jquery-2.1.0.js"></script>
    <script src="/javascripts/root_login.js"></script>
</html>