<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加车票</title>
    <link rel="stylesheet" href="/stylesheets/user.css">
</head>
<body>
    <form class="user-box goods-box">
        <div class="line"><span class="title">始发地:</span><input type="text" name="begin" placeholder="请输入始发地" /></div>
        <div class="line"><span class="title">目的地:</span><input type="text" name="end" placeholder="请输入目的地" /></div>
        <div class="line"><span class="title">时间:</span><input type="text" name="time" placeholder="请输入时间" /></div>
        <div class="line"><span class="title">列车号:</span><input type="text" name="number" placeholder="请输入列车号" /></div>
        <div class="line"><span class="title">价格:</span><input type="text" name="price" placeholder="请输入列价格" /></div>
        <input class="btn" type="submit" value="提交" />
      </form>
</body>
<script src="/javascripts/jquery-2.1.0.js"></script>
<script src="/javascripts/ticketsinput.js"></script>
</html>