*,div,html,body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.user-box{
    border:1px dashed #ccc;
    padding:20px;
    margin: 20px auto;
    border-radius: 8px;
    width: 300px;
}
.user-box .line input{
    width: 181px;
    height: 30px;
    padding:0 10px;
    outline: none;
    border:1px solid #ccc;
}
.user-box:after{
    content : "";
    display: block;
    clear: both;
}
.user-box .title{
    display: inline-block;
    width: 80px;
    text-align: right;
    padding-right: 15px;
}

.user-box .line{
    margin: 10px 0;
}
.user-box .btn{
    width: 120px;
    height: 40px;
    float: right;
    border:0 none;
    background: #09f;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.user-box .line .suc{
    color: #0a0;
}

.user-box .line .err{
    color: #e00;
}
.user-box .btn:hover{
    background: #0af
}

#img{
    width: 181px;
    height: auto;
}